body { 
background-color: rgb(104,187,285);
margin:0;
 }

div {
	border: 1px black;
}

 #header {

 }

 #experiences-box, #studies-box {
 	background-color: white;
 }

 #left-box {
 	background-color: rgb(9,30,45);
 	color: white;
 	display:inline-block;
 	width: 40%;
 	float:left;
 }

 #right-box {
 	display:inline-block;
 	width: 40%;
 }

 #left-box, #right-box {
 	height : 80vh;
 }