body { 
	background-color: rgb(104,187,285);
 	text-align: center;
 }

div {
	border: 1px solid gray;
	margin:2.5%;
}

 #header {
 	text-align: center;
	background-color: rgb(0,187,285);
 	color: red;

 }

 #container {
 	 background-color: rgb(0,187,285);
 }

 #experiences-box, #studies-box {
 	background-color: white;
 	width:80%;
 	margin: 5% auto;
 }

 #left-box {
 	background-color: rgb(180,187,285);
 	color: white;
 	display:inline-block;
 	width: 30%;
 	float:left;
 }

 #right-box {
 	display:inline-block;
 	width: 55%;
 	background-color: rgb(180,187,285);
 }

 #left-box, #right-box {
 	height : 140vh;
 	background-color: rgb(180,187,285);
 } 

 .experience, .study {
 	 background-color: rgb(9,30,45);
 }

 #footer {
 	background-color: rgb(0,187,285);
 }